# Copia este archivo como .env y completa los valores antes de levantar docker compose

# Base de datos
DB_USERNAME=sistemas
DB_PASSWORD=cambia_esta_password
DB_DATABASE=rips_275

# JWT
JWT_SECRET=cambia_este_secreto_largo_y_seguro
JWT_EXPIRATION=8h

# API externa CUV
CUV_API_URL=https://172.16.4.7:9443
